<div class="orders">
  <h3>Objednávky</h3>

  <table class="table" ng-if="list.orders.length">
    <tr>
      <th>Id</th>
      <th>Zákazník</th>
      <th>Email</th>
      <th>Stav</th>
      <th>Datum odeslání</th>
      <th>Akce</th>
    </tr>
    <tr ng-repeat="order in list.orders" class="status-animated status-{{order.status|lowercase}}">
      <td ng-bind="order.id"></td>
      <td ng-bind="order.name"></td>
      <td>
        {{order.email}}
      </td>
      <td>
        <!--TODO 5.1 - zobrazte prvky pouze pro roli ROLE_OPERATOR-->
        <select ng-if="true"
                class="form-control"
                ng-model="order.status"
                ng-change="list.update(order)"
                ng-options="key as value for (key,value) in list.statuses"></select>

        <!--TODO 5.2 - zobrazte text pouze když uživatel nemá ROLE_OPERATOR-->
        <span ng-if="false">{{list.statuses[order.status]}}</span>
      </td>
      <td class="text-center" ng-bind="order.date | date : 'dd.MM.yyyy'"></td>
      <td class="text-right">
        <a ng-href="#/detail/{{order.id}}" class="btn btn-info">Detail</a>

        <!--TODO 5.1 - zobrazte prvky pouze pro roli ROLE_OPERATOR-->
        <a ng-if="true"
           ng-click="list.remove(order)"
           class="btn btn-danger">Odstranit</a>
      </td>
    </tr>
  </table>

</div>
