<!DOCTYPE html>
<html ng-app="directiveApp">
<head>
  <meta charset="utf-8">
  <title>10-component | Angular.cz</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="styles.css"/>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-cloak>
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/09-directive-scope" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 09-directive-scope</a><span class="h3">10-component</span><a href="/11-filter" style="float:right" class="btn btn-default">11-filter<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div class="container col-md-offset-3 col-md-6">
  <h2>Informace</h2>

  <div class="well">
    <!-- TODO 2.2 - použijte zde komponentu tabset, tak aby obklopovala taby -->

    <tab header="O nás">
      Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i developerských
      projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká společnost bez
      zahraničního či úvěrového kapitálu.
    </tab>
    <tab header="Reference">
      <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha, a
        to v oblasti pronájmu bytů v majetku ČNB. </p>
    </tab>
    <tab header="Kontakty">
      V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve
      telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v
      podzemní garáži.
    </tab>

  </div>
  <div class="well" ng-if="info.currentTabHeader">Vybraný tab: {{info.currentTabHeader}}</div>
</div>
</body>
</html>
