<!DOCTYPE html>
<html ng-app="filterApp">
  <head>
    <meta charset="utf-8">
    <title>11-filter | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="FilterCtrl as filterCtrl" class="container col-md-offset-3 col-md-6">
      <h1>Filter</h1>

      <div class="well">

        <input type="text" ng-model="filterCtrl.inputText" class="form-control"/>

        <h2>Filterované hodnoty</h2>
        <ul>
          <li>Normálně:               {{filterCtrl.inputText}}</li>
          <li>Velkým:                 {{filterCtrl.inputText|uppercase}}</li>
          <li>Pozpátku:               {{filterCtrl.inputText|reverse}}</li>
          <li>Pozpátku a velkým:      {{filterCtrl.inputText|reverse|uppercase}}</li>
          <li>Pozpátku a s prefixem:  {{filterCtrl.inputText|reverse:"Le "}}</li>
        </ul>

      </div>
      <div class="well">
        <h3>Seznam otevřených úkolů</h3>

        <p>
        Hledání podle vlastníka: <input type="text" ng-model="filterCtrl.search.owner" class="form-control"/>
        </p>

        <table class="table">
          <tr>
            <th>Úkol</th>
            <th>Vlastník</th>
            <th>Stav</th>
            <th>Deadline</th>
          </tr>

          <tr ng-repeat="todo in filterCtrl.todos | filter : filterCtrl.search | orderBy: 'duedate'| limitTo:5">
            <td>{{todo.name}}</td>
            <td>{{todo.owner}}</td>
            <td>{{todo.status == "open" ? "Otevřený" : "Zavřený"}}</td>
            <td>{{todo.duedate| date:"d. M. yyyy"}}</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
