<h3 ng-if="bacon.title">{{bacon.title}}</h3>
<p>
Title: <input type="text" ng-model="bacon.titleTwoWay" ng-if="bacon.titleTwoWay"/>

</p>

<blockquote>
  <p class="quote" ng-repeat="paragraph in bacon.data">{{paragraph}}</p>
  <footer><cite>Bacon ipsum</cite></footer>
</blockquote>
