p V #[strong directive-01] jsme řešili taby pomocí switche a metod v kontroleru, nyní k tomuto použijeme komponenty a komunikaci mezi nimi.
  ul
    li Cílem bude dokončit komponentu představující #[strong tabset], která umí zobrazovat své taby, stará se o zobrazení odkazů a přepínání tabů.
    li Poté dokončit druhou, která představuje samotný #[strong tab] a dává o sobě vědět nadřazenému #[strong tabsetu].

h3 1. Komponenta tab

ul
  li na úvodní straně vidíte vyrenderováno několik tabů
  li podívejte se, jak je direktiva #[strong tab] použita v šabloně #[em index.html]. Má přiřazen nadpis a obklopuje obsah tabu
  li v šabloně direktivy #[em tab.html] se podívejte, jak je pomocí #[strong transclude] vkládán obsah

h3 2. Komponenta tabset
h4 2.1 - přidejte komponentu tabset
ul
  li definiční objekt komponenty #[strong tabset] je již připraven
  li.task přidejete tedy komponentu #[strong tabset] pomocí patřičné metody do modulu

hint Použijte metodu #[strong .component] na modulu.

solution
  :highlight-js
    .component('tabset', tabset)

h4 2.2 - použijte komponentu tabset tak, aby obklopovala taby
ul
  li.task v #[em index.html] použijte #[strong tabset] jako rodičovský element okolo skupiny tabů

solution
  :highlight-html
    <tabset>
      <tab header="O nás">
      ...
      </tab>
      ...
    </tabset>

h4 2.3 - přidejte komponentě controller
ul.task
  li přidejte do definičního objektu komponenty předpřipravený controller #[strong TabsetController]
  li pojmenujte controller pro šablonu #[strong tabset]

hint Použijte atributy definičního objektu #[strong controller] a #[strong controllerAs]

solution
  :highlight-js
    controllerAs: 'tabset',
    controller: TabsetController

h3 3 - Komunikace mezi komponentami
h4 3.1 - přidejte závislost na tabset
ul.task
  li přidejte do komponenty #[strong tab] závislost na komponentě #[strong tabset], ta se musí vyskytovat v hierarchii nad ní. Jako název pro binding do kontroleru použijte #[strong tabsetController]

hint
  | Pro definici závislosti použijte #[strong require] ve tvaru objektu.
  ul
   li klíč definuje název, pod kterým bude kontroler závislosti dostupný jako vlastnost kontroleru komponenty
    li hodnotou je řetězec s názvem komponenty a modifikátory (speciální znaky), které určují umístění v DOM, ve kterém se bude závislost hledat.
    li že se má komponenta vyskytovat v hierarchii určíte pomocí znaku #[strong ^]

solution
  :highlight-js
    require: {
      tabsetController: '^tabset'
    }

h4 3.2 - komunikace s komponentou tabset
p Komponenta tab musí po své inicializaci informovat tabset o své přítomnosti.
ul.task
  li v kontroleru komponenty #[strong tab] definujte metodu #[strong $onInit], která je volána po inicializaci komponenty, kdy je již dokončen binding
  li v metodě #[strong $onInit] zavolejte metodu #[strong add] na #[strong tabsetController] a předejte jí samotný controller #[strong tab] - tedy #[strong this]

hint.
  #[strong tabsetController] je dostupný jako vlastnost kontroleru, protože jsme si jej takto pojmenovali v předchozím kroku.
  Metodu #[strong add] tedy můžeme volat jako #[strong this.tabsetController.add()]

solution
  :highlight-js
    controller: function() {
      this.$onInit = function() {
        this.tabsetController.add(this);
      }
    }

ul
  li Pokud komunikace funguje, uvidíte tlačítka pro jednotlivé taby, zvolený první z nich a funguje také přepínání
  li.task Vyzkoušejte, přepínání tabů
  li.task Můžete vyzkoušet přidání dalšího tabu, a ověřit tak, že jsou komponenty nezávislé
