<div class="modal-header">
  <h3 class="modal-title">Přihlašte se</h3>
</div>
<div class="modal-body">
  <div class="lead">Přihlásit se:</div>

  <p class="alert alert-warning" ng-if="auth.isBadLogin">
    Špatné jméno nebo heslo
  </p>

  <p>
    <button class="btn btn-success" ng-click="auth.login()">správnými údaji</button>
    <button class="btn btn-danger" ng-click="auth.loginFail()">špatným jménem a heslem</button>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="auth.cancel()">Zrušit</button>
</div>
